@import '../../scss/.critical.scss';

.footer-root {
    border-top: 1px solid $white  !important;
    box-sizing: border-box;
}

.footer-link {
    color: $light-red;
    font-weight: 600;
}

.footer-sub-link {
    color: $light-red;
    font-weight: 400;
}

.footer-equippr{
    color: $white;
    font-weight: 700;
}

.footer-email-small{
    color: $white;
    font-weight: 400;
    
}

.footer-spacing {
    -moz-box-direction: normal !important;
    -moz-box-orient: horizontal !important;
    flex-direction: row !important;
    padding-top: 48px !important;
    margin-left: -12px !important;
    margin-right: -12px !important;
    padding: 0.5rem 1rem;
}
