@import "../../scss/.critical.scss";

.footer-root {
  border-top: 1px solid $white !important;
  box-sizing: border-box;
  background-color: $gray;
  padding-bottom: 20px;
  box-shadow: 0 50vh 0 50vh $gray;
}

.footer-link {
  color: $light-red;
  font-weight: 600;
}

.footer-sub-link {
  color: $light-red;
  font-weight: 400;
}

.footer-equippr {
  color: $white;
  font-weight: 700;
}

.footer-email-small {
  color: $white;
  font-weight: 400;
  margin-bottom: 32px;

}

.footer-spacing {
  -moz-box-direction: normal !important;
  -moz-box-orient: horizontal !important;
  flex-direction: row !important;
  padding-top: 48px !important;
  background-color: $gray;
}
